body {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4C4C6D;
}

header {
    background-color: #4C4C6D;
}

header h1 {
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 40px;
}

nav {
    background-color: #1B9C85;
    padding: 20px;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #FFE194;
}

main {
    margin: 16px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

main h2 {
    color: #4C4C6D;
    margin-left: 30px;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    box-sizing: border-box;
}

main h2 ~ p {
    color: #4C4C6D;
    margin-left: 30px;
    text-align: left;
    font-size: 12px;
    margin-bottom: 30px;
}

form {
    margin: auto;
    width: 40%;
    text-align: left;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
    color: #4C4C6D;;
}

button {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #1B9C85;
    color: white;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: #4C4C6D;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background-color:#E8F6EF;
}

article {
    margin: auto;
    font-size: 12px;
    padding: 10px;
}

footer {
    background-color: #4C4C6D;
    color: white;
    font-size: 12px;
    padding: 30px;
}

.profile {
    padding-top: 20px;
    padding-bottom: 30px;
}

.profile img,
.identity {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-bottom: 30px;
}

.identity {
    margin-left: 16px;
    text-align: left;
    font-size: 18px;
}

.identity p {
    font-size: 2vw;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 80px;
}

.identity p:first-child {
    font-size: 3vw;
    font-weight: 500;
    margin: 0;
}

.identity a {
    font-size: 18px;
    padding-right: 30px;
    text-decoration: none;
    color: #1B9C85;
}

.identity a:hover {
    font-size: 22px;
    font-weight: 600;
}

.profile img {
    border-radius: 50%;
    margin-right: 10px;
}

#aboutme {
    background-color: #E8F6EF;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 60px;
}

h3 {
    font-size: 24px;
    color: #1B9C85;
}

#aboutme p {
    font-size: 18px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 30px;
}

#education ul {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: left;
}

#education li:first-child {
    font-size: 18px;
    font-weight: 500;
}

#education li + li {
    list-style: none;
}

#education {
    padding-top: 20px;
    padding-bottom: 50px;
}

#experience {
    background-color: #E8F6EF;
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
}

#experience table {
    margin: auto;
    margin-top: 40px;
}

#experience table td {
    padding-right: 8vw;
    padding-left: 8vw;
    padding-bottom: 8px;
}

#experience tr:first-child {
    font-size: 20px;
    font-weight: 500;
}

#experience tr:nth-child(2) {
    font-size: 16px;
    font-style: italic;
}

#experience tr:nth-child(3) {
    font-size: 12px;
}